apiVersion: apps/v1
kind: Deployment
metadata:
  name: service2
  namespace: microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service2
  template:
    metadata:
      labels:
        app: service2
    spec:
      containers:
        - name: service2
          image: asia-south1-docker.pkg.dev/glowing-thunder-479313-p3/my-repo/service2:1.0
          imagePullPolicy: Always

          ports:
            - containerPort: 8081

          # ---------------- ENV VARIABLES ----------------
          env:
            - name: DB_HOST
              value: postgres
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              value: testdb
            - name: DB_USER
              value: postgres
            - name: DB_PASSWORD
              value: postgres

          # ---------------- RESOURCES ----------------
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"

          # ---------------- HEALTH CHECKS ----------------
          startupProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8081
            failureThreshold: 30
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8081
            initialDelaySeconds: 40
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3

          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8081
            initialDelaySeconds: 30
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3

---
apiVersion: v1
kind: Service
metadata:
  name: service2
  namespace: microservices
spec:
  type: ClusterIP
  selector:
    app: service2
  ports:
    - port: 8081
      targetPort: 8081
