name: CI-CD-GKE-TERRAFORM

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  REGION: asia-south1
  REPO: my-repo
  

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # ---------------- CHECKOUT ----------------
    - name: Checkout
      uses: actions/checkout@v4

    # ---------------- AUTH GCP ----------------
    - name: Authenticate to GCP
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Set up gcloud
      uses: google-github-actions/setup-gcloud@v2

    - name: Install GKE auth plugin
      run: |
        gcloud components install gke-gcloud-auth-plugin --quiet

    # ---------------- GKE AUTH ----------------
    - name: Get GKE credentials
      run: |
        gcloud container clusters get-credentials ${{ secrets.GKE_CLUSTER }} \
        --region ${{ secrets.GKE_REGION }} \
        --project $PROJECT_ID

    # ---------------- DOCKER AUTH ----------------
    - name: Configure Docker
      run: |
        gcloud auth configure-docker asia-south1-docker.pkg.dev

    # ---------------- BUILD SERVICE1 ----------------
    - name: Build Service1
      run: |
        cd service1
        mvn clean package -DskipTests
        docker build -t asia-south1-docker.pkg.dev/$PROJECT_ID/$REPO/service1:${{ github.sha }} .
        docker push asia-south1-docker.pkg.dev/$PROJECT_ID/$REPO/service1:${{ github.sha }}

    # ---------------- BUILD SERVICE2 ----------------
    - name: Build Service2
      run: |
        cd service2
        mvn clean package -DskipTests
        docker build -t asia-south1-docker.pkg.dev/$PROJECT_ID/$REPO/service2:${{ github.sha }} .
        docker push asia-south1-docker.pkg.dev/$PROJECT_ID/$REPO/service2:${{ github.sha }}

    # ---------------- TERRAFORM ----------------
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.6.6

    - name: Verify Terraform
      run: terraform -v

    - name: Terraform Init
      run: |
        cd terraform
        terraform init -upgrade

    - name: Terraform Apply
      run: |
        cd terraform
        export TF_LOG=TRACE
        terraform import  -input=false kubernetes_deployment.service1 microservices/service1
        terraform import  -input=false kubernetes_service.service1 microservices/service1

        terraform import -input=false kubernetes_deployment.service2 microservices/service2
        terraform import -input=false kubernetes_service.service2 microservices/service2

        terraform import -input=false kubernetes_deployment.postgres microservices/postgres
        terraform import -input=false kubernetes_service.postgres microservices/postgres
        terraform apply -auto-approve \
          -var="project_id=${{ secrets.GCP_PROJECT_ID }}" \
          -var="service1_image=asia-south1-docker.pkg.dev/$PROJECT_ID/$REPO/service1:${{ github.sha }}" \
          -var="service2_image=asia-south1-docker.pkg.dev/$PROJECT_ID/$REPO/service2:${{ github.sha }}"
